@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400&family=Lato&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
}

#grid{
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

header, main, footer{
    padding: 0.1rem;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0 ;
    background-color:#252525 ;
    color: white;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 3%;
    color: black;
}
header nav {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    
}
a{
    text-decoration: none;
    color: black;
}

.nav_links li{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
}
.about-nav{
    background-color: #e6bd43; 
    font-weight: bold;
    border: none;
    color: black;
    padding: 15px 10px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    transition-duration: 0.4s;
   }

.about-nav:hover{
    background-color: black;
    color: #e6bd43;
}

.yellow-btn{
    background-color: #e6bd43; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 0 #e6bd43;
    font-weight: bold;
}

.yellow-btn:hover{
    background-color: black;
    color: #e6bd43;
}



.logo {
    width: 100px;
}

.fa-brands{
    display: flex;
    padding: 10px;
    color: #ffffff;
   
}
.logo-footer{
    width: 100px;
}
h1 {
    font-size: 50px;
}
h4 {
    font-size: 25px;
}
.video-text video{
    object-fit: cover;
    width: 100%;
    height: 450px;
}
.video-text{
   object-fit: cover;
   filter: opacity(50%);
}
.liten-img{
    display: none;
}

.read-btn{
    position: relative;
    text-align: center;
    bottom: 450px;
}
.enganging{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 75px;
    margin-top: -200px;
   
}


.company{
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #e6bd43;
}

.company img{
    float: left;
    margin-right: 50px;
}

.company h2{
    margin-top: 70px;
    font-size: large;
    
}

.company p{
    padding: 0.4rem;
}

.more-about-btn{
    background-color: #e6bd43; 
    font-weight: bold;
    border: 3px solid black;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.more-about-btn:hover{
    background: black;
    color: #e6bd43;
}

#our-services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: rem;
    justify-content: center;
    margin-top: px;
    width: 100%;
}

#our-services h1{
    width: 100%;
    text-align: center;
    font-size: 50px;
    
}

#our-services article{
    max-width: 300px;
    width: 100%;
    min-width: 200px;
    padding: 2rem;
    text-align: center;
    align-items: center;
    
}

.newsletter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}
.newsletter h1{
    width: 100%;
    text-align: center;
    font-size: 50px;
}
.searchbar{
    padding:  16px;
    margin-top: 8px;
    font-size: 16px;
    border: none;
}
.yellow-btn-sign{
    background-color: #e6bd43; 
    font-weight: bold;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.yellow-btn-sign:hover{
    background-color: black;
    color: #e6bd43;
}


.overlay-fog{
    object-fit: cover;
    filter: opacity(50%);
}

.port{
    
}
.port img{
    display: flex;
    object-fit: cover;
    width: 100vw;
    height: 450px;
    padding-top: 50px;
    
}

.port h1{
    font-size: 80px;
    color: black;
    position: relative;
    text-align: center;
    bottom: 350px;
    
}
.jobs{
    margin: 1rem;
}
.jobs h1{
    font-size: 50px;
    border-bottom: 4px solid #e6bd43;
    padding-bottom: 10px;
}
.jobs article{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
.jobs button{
    background-color: #ffffff; 
    font-weight: lighter;
    border: 1px solid black;
    color: black;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 160px;
}

.jobs button:hover{
    background: black;
    color: #e6bd43;
}

#branding{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    
}
#branding article{
    padding: 1px;
    justify-content: center;
    flex-basis: 33%;
}

#branding h1{
    font-size: 50px;
    border-bottom: 4px solid #e6bd43;
    padding-bottom: 10px;
    padding-top: 20px;
    flex-basis: 100%;
}

#branding article :hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}
.alene img{
    max-width: 692px;
}
.alene{
    margin: 1rem; 
}
.alene article{
    flex-basis: 33%;
}
.alene :hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}

#design{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

#design article{
    padding: 1px;
    justify-content: center;
    flex-basis: 33%;
}
#design article :hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}

#design h1{
    font-size: 50px;
    border-bottom: 4px solid #e6bd43;
    padding-bottom: 10px;
    padding-top: 20px;
    flex-basis: 100%;
}

#devolpment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}
#devolpment article{
    padding: 20px;
    justify-content: center;
    flex-basis: 33%;
    
}
#devolpment article :hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}
#devolpment img{
    max-width: 692px;
}
#devolpment h1{
    font-size: 50px;
    border-bottom: 4px solid #e6bd43;
    padding-bottom: 10px;
    padding-top: 20px;
    flex-basis: 100%;
}

.about{
    object-fit: cover;
    
    
}
.about img{
    object-fit: cover;
    width: 100%;
    height: 500px;
    margin-bottom: -300px;
}

.about article{
    position: relative;
    align-items: center;
    background-color: rgb(255, 255, 255);
    opacity: 0.85;
    position: relative;
    float: right;
    bottom: 120px;
    margin-right: 100px;
    padding: 2rem;
    
}
.text-block-btn{
    background-color: #e6bd43; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 0 #e6bd43;
    font-weight: bold;
}

.text-block-btn:hover{
    background-color: black;
    color: #e6bd43;
}

.about p{
    font-weight: lighter;
}

.clients{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: #e6bd43;
}
.clients h1{
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: 50px;
}
.clients img{
    padding: 30px;
}

#contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(244, 244, 244);
    padding: 50px;
}
#contact article{
    padding: 50px;
}
#contact h1{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.name-sub{
    padding: 16px;
    font-size: 16px;
    border: 1px;
    height: 10px;
    width: 450px;
}

.message-box{
    padding: 16px ;
    font-size: 16px;
    border: 1px;
    height: 150px;
    width: 450px;
}

.message{
    display: flex;
    flex-direction: column;
}

.c-i i{
    margin-bottom: 20px;
    
}

.mail{
    color: blue;
    text-decoration: underline;
}
.map{
    background-color: rgb(235, 235, 235);;
    margin-bottom: -21.2px;
    margin-top: -15px;
}
.map p iframe{
    width: 100%;
    height: 220px;
}
.send-msg-btn{
    background-color: #e6bd43; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: 0 0 0 #e6bd43;
    font-weight: bold;
    width: 180px;
    transition: 0.4s;
}
.send-msg-btn:hover{
    background-color: black;
    color: #e6bd43;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    color: #ffffff;
    padding: 1rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.back-to-top span{
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {

    #grid{
    display: grid;
    grid-template-columns: 1fr ;
    
    }
    .liten-img{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 450px;
    }
   .video-text video{
    display: none;
   }
   header{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .about-nav{
    background-color: #e6bd43; 
    font-weight: bold;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
   }
   .nav_links{
    display: flex;
    flex-direction: column;
    
   }
   li {
    margin-bottom: 10px;
   }
   
   .company{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
   .company img{
    width: 90%;
    padding: 1rem;
   }
   .company h2 {
    padding: 1rem;
   }
   .company p{
    padding: 1rem;
   }
   .company button{
    margin-left: 1rem;
   }
   .searchbar{
    padding:  10px;
    margin-top: 8px;
    font-size: 10px;
    border: none;
}
.yellow-btn-sign{
    background-color: #e6bd43; 
    font-weight: bold;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}

footer{
    display: block;
    text-align: center;
}
.jobs article{
    display: flex;
    justify-content: center;
}
#branding img{
    width: 350px;
}
.alene img{
    width: 350px;
}
#design img{
    width: 350px;
}
#devolpment img{
    width: 350px;
}
.about img{
    height: 650px;
}
.about article{
    bottom: 310px;
    left: 50px;
    padding: 10px;
   
}
.message h2{
    text-align: center;
}
.message{
   display: block;
   justify-content: center;
   width: 300px;
   position: relative;
   right: 16px;
    
}
.message-box{
    width: 300px;
}
.name-sub{
    width: 300px;
}

}

