body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-forside{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer{
    padding: 0.1rem;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 3%;
    color: black;
}
header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}

.nav_links li{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
}

.yellow-btn{
    background-color: #e6bd43; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 0 #e6bd43;
    font-weight: bold;
}

.yellow-btn :hover{
    background-color:  black;
    color:  #e6bd43;
    transition: 0.7s;
}

.logo {
    width: 100px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem ;
    background-color:#252525 ;
    color: white;
}
.fa-brands{
    display: flex;
    padding: 10px;
    color: #ffffff;
   
}
.logo-footer{
    width: 100px;
}
.video-text video{
    display: none;
}
.video-text{
   object-fit: cover;
   filter: opacity(50%);
}
.liten-img{
    object-fit: cover;
    width: 100%;
    height: 450px;
}
.read-btn h1{
    font-size: xx-large;
}
.read-btn{
    position: relative;
    text-align: center;
    bottom: 350px;
}
.enganging{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 75px;
    margin-top: -150px;
   
}
.enganging h1{
    font-size: xx-large;
    
}

.company{
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #e6bd43;
}

.company img{
    float: left;
    margin-right: 50px;
}

.company h2{
    font-size: large;
    display: flex;
    margin-top: 100px;
}

.company p{
    margin-right: 400px;
}

.more-about-btn{
    background-color: #e6bd43; 
    font-weight: bold;
    border: 3px solid black;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    
}

#our-services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    margin-top: 85px;
}

#our-services h1{
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

#our-services article{
    max-width: 300px;
    width: 100%;
    min-width: 200px;
    padding: 2rem;
    text-align: center;
    
}

.newsletter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}
.newsletter h1{
    width: 100%;
    text-align: center;
    font-size: xx-large;
}
.searchbar{
    padding: 16px;
    margin-top: 8px;
    font-size: 16px;
    border: none;
}

.port{
    display: flex;
    justify-content: center;
    left: 0px;
    margin-bottom: 50px;
    text-align: center;
    
}
.overlay-fog{
    object-fit: cover;
    filter: opacity(50%);
}
.port img{
    display: block;
    width: 100vw;
    height: 500px;
    object-fit: cover;
}

.port h1{
    color: black;
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: xx-large;
}
.jobs{
    margin: 1rem;
}
.jobs h1{
    font-size: xx-large;
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 10px;
}
.jobs article{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
.jobs button{
    background-color: #ffffff; 
    font-weight: lighter;
    border: 1px solid black;
    color: black;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 160px;
}

#branding{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
#branding article{
    flex-basis: 33%;
}

#branding h1{
    font-size: xx-large;
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 10px;
    padding-top: 20px;
    flex-basis: 100%;
}

#branding article :hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}

.alene{
    margin: 1rem; 
}
.alene article{
    flex-basis: 33%;
}
.alene :hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}
.alene h1{
    font-size: xx-large;
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 10px;
    padding-top: 20px;
    flex-basis: 100%;
}

#design{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

#design article{
    flex-basis: 33%;
}
#design article :hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}

#design h1{
    font-size: xx-large;
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 10px;
    padding-top: 20px;
    flex-basis: 100%;
}

#devolpment{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
#devolpment article{
    flex-basis: 33%;
    padding: 30px;
}
#devolpment article :hover{
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}

#devolpment h1{
    font-size: xx-large;
    border-bottom: 3px solid #e6bd43;
    padding-bottom: 10px;
    padding-top: 20px;
    flex-basis: 100%;
}

.about{
    display: flex;
    left: 0px;
    padding-bottom: 5%;
}

.about img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.about article{
    position: relative;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    left: 1300px;
    top: 100px;
    padding: 20px;
}
.text-block-btn{
    background-color: #e6bd43; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 0 #e6bd43;
    font-weight: bold;
}

.about p{
    font-weight: lighter;
}

.clients{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: #e6bd43;
}
.clients h1{
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}
.clients img{
    padding: 30px;
}

#contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(244, 244, 244);
    padding: 50px;
}
#contact article{
    padding: 50px;
}
#contact h1{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}
.name-sub{
    padding: 16px;
    font-size: 16px;
    border: 1px;
    height: 10px;
    width: 450px;
}

.message-box{
    padding: 16px ;
    font-size: 16px;
    border: 1px;
    height: 150px;
    width: 450px;
}

.message{
    display: flex;
    flex-direction: column;
}


.mail{
    color: blue;
    text-decoration: underline;
}
.map{
    background-color: rgb(235, 235, 235);;
    margin-bottom: -21.2px;
    margin-top: -15px;
}
.map p iframe{
    width: 100%;
    height: 220px;
}
.send-msg-btn{
    background-color: #e6bd43; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: 0 0 0 #e6bd43;
    font-weight: bold;
    width: 180px;
}

@media only screen and (min-width: 600px){
    .liten-img{
        display: none;
    }
   .video-text video{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 450px;
   } 
}